body {
	background-color: lightgrey;
}

h1 {
	text-align:center;
	margin-bottom: 50px;
}

input {
	margin-top: 10px;
}

#bouton {
	margin-top: 10px;
	margin-bottom: 20px;
}

input.envoi {
	margin-top: 50px;
}

.error {
	color: red;
}
