body {
	background-color: lightgrey;
}

h1 {
	text-align:center;
	margin-bottom: 50px;
}
.btn{
    margin-top: 25px;
    margin-left: 35px;
    margin-bottom: 5px;
}

input.envoi {
	margin-top: 50px;
}

.error {
	color: red;
}
a.retour{
    margin-left: 70px;
    
}